body {
    background-color: skyblue;
}

h3 {
    font-size: 3em;
    align-self: center;
}

span {
    display:none;
}

#inputButtons {
    font-family: sans-serif;
    color: midnightblue;
    text-align: center;
    border-radius: 10em;
    padding: .5em;
}

#windowPhoto {
    height: auto;
    width: 50vw;
}

.flexContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: beige;
}

.flexItem {
    display: flex;
    flex-flow: column;
    background-color: lavender;
    align-self: center;
    /* align-items: center; */
    padding: 1em;
    border-radius: 3em;

}

.textRed {
    color: red;
}

.textOrange {
    color: orange;
}

.textYellow {
    color: yellow;
}

.textGreen {
    color: green;
}

.textTeal {
    color: teal;
}

.sunny {
    display: block;
}

.cloudy {
    display: block;
}

.rainy {
    display: block;
}

.windy {
    display: block;
}

.snowy {
    display: block;
}